* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: #04132D;
    width: 100%;
    height: 100vh;
}

.green-gradient {
    width: 282px;
    height: 485px;
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-282px);
    background: linear-gradient(180deg, #4DE6AF 0%, #09B477 100%);
    filter: blur(200px);
    border-radius: 5px 0px 5px 5px;
}

.blue-gradient {
    position: absolute;
    width: 282px;
    height: 243px;
    left: 40%;
    top: 25%;
    transform: translateX(-282px);
    background: #9892E6;
    filter: blur(150px);
    border-radius: 0px 5px 5px 0px;
}

.main {
    height: 100%;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items:center;
}

.logo {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 35%;
    left: 46%;
    transform: translate(-50px, -50px);
    display: flex;
}

.left {
    width: 50%;
    height: 100%;
    background: linear-gradient(180deg, #72EABF 0%, #0BD58C 100%);
    border-radius: 5px 0px 5px 5px;
}

.right {
    width: 50%;
    height: 50%;
    background: linear-gradient(180deg, #72EABF 0%, #0BD58C 100%);
    border-radius: 0px 5px 5px 0px;
}

.ryaz {
    font-family: Brandon Grotesque;
    font-size: 107px;
    line-height: 107px;
    letter-spacing: 0.25em;
    color: #FFFFFF;
    position: absolute;
    top: 37%;
    left: 17%;
    opacity: 0;
    font-weight: 700;
}
  
.ryaz .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
}

.ryaz .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: #fff;
    transform-origin: 0 50%;
}

.ryaz .letter {
    display: inline-block;
    line-height: 1em;
}

.tagline {
    font-family: Brandon Grotesque;
    font-weight: 330;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
    position: absolute;
    top: 57%;
    width: 100%;
    text-align: center;
}